<a href="https://colab.research.google.com/github/JosuePerezValenzuela/TareaMaestria/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importaciones
import pandas as pd
import numpy as np

In [ ]:
#Carga de los datos en un df
df = pd.read_csv('/content/drive/MyDrive/horas-trabajo.csv', sep=';')
#Ver lo 5 primeros registros para tener una idea del df
df.head()

    Id Departamento  Enero  Febrero  Marzo  Abril
0  OP1  Proveedores    180    160.0  140.0  180.0
1  OP2       Ventas    120    140.0    NaN  100.0
2  OP3       Ventas     80     90.0   80.0   80.0
3  OP5           IT    180    170.0  180.0  180.0
4  OP6    Marketing    100      NaN  100.0    NaN

In [ ]:
#Para ver el tipo de datos que tenemos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            14 non-null     object
 1   Departamento  14 non-null     object
 2   Enero         14 non-null     int64
 3   Febrero       13 non-null     float64
 4   Marzo         13 non-null     float64
 5   Abril         13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 804.0+ bytes

In [ ]:
#2 Horas trabajadas por mes
total_horas_por_mes = df[['Enero', 'Febrero', 'Marzo', 'Abril']].sum();
print("Las horas trabajadas en el mes de Enero fueron", total_horas_por_mes.Enero)
print("Las horas trabajadas en el mes de Febrero fueron", total_horas_por_mes.Febrero)
print("Las horas trabajadas en el mes de Marzo fueron", total_horas_por_mes.Marzo)
print("Las horas trabajadas en el mes de Abril fueron", total_horas_por_mes.Abril)

Las horas trabajadas en el mes de Enero fueron 1870.0
Las horas trabajadas en el mes de Febrero fueron 1670.0
Las horas trabajadas en el mes de Marzo fueron 1740.0
Las horas trabajadas en el mes de Abril fueron 1770.0

In [ ]:
#3 Operarios por departamento
operarios_por_departamento = df.groupby('Departamento')['Departamento'].count()
print(operarios_por_departamento)

Departamento
IT             3
Marketing      3
Proveedores    3
Ventas         5
Name: Departamento, dtype: int64

In [ ]:
#4 Empleados que trabajaron todos los meses
empleados_todos_meses = df[(df['Enero'] > 0) & (df['Febrero'] > 0) & (df['Marzo'] > 0) & (df['Abril'] > 0)]
print("Empleados que trabajaron al menos una hora todos los meses y su departamento")
print(empleados_todos_meses[['Id', 'Departamento']])

Empleados que trabajaron al menos una hora todos los meses y su departamento
      Id Departamento
0    OP1  Proveedores
2    OP3       Ventas
3    OP5           IT
5    OP7       Ventas
6    OP8  Proveedores
7    OP9           IT
8   OP10       Ventas
9   OP11    Marketing
10  OP12           IT
11  OP13       Ventas
12  OP14  Proveedores
13  OP15    Marketing

In [ ]:
#5 Convertir el DF a formato largo
df_largo = pd.melt(
    df,
    id_vars=['Id', 'Departamento'],
    value_vars=['Enero', 'Febrero', 'Marzo', 'Abril'],
    var_name='Mes',
    value_name='Horas')
print(df_largo)

      Id Departamento      Mes  Horas
0    OP1  Proveedores    Enero  180.0
1    OP2       Ventas    Enero  120.0
2    OP3       Ventas    Enero   80.0
3    OP5           IT    Enero  180.0
4    OP6    Marketing    Enero  100.0
5    OP7       Ventas    Enero  160.0
6    OP8  Proveedores    Enero  100.0
7    OP9           IT    Enero   80.0
8   OP10       Ventas    Enero  180.0
9   OP11    Marketing    Enero  120.0
10  OP12           IT    Enero  150.0
11  OP13       Ventas    Enero  140.0
12  OP14  Proveedores    Enero  170.0
13  OP15    Marketing    Enero  110.0
14   OP1  Proveedores  Febrero  160.0
15   OP2       Ventas  Febrero  140.0
16   OP3       Ventas  Febrero   90.0
17   OP5           IT  Febrero  170.0
18   OP6    Marketing  Febrero    NaN
19   OP7       Ventas  Febrero  160.0
20   OP8  Proveedores  Febrero   80.0
21   OP9           IT  Febrero   80.0
22  OP10       Ventas  Febrero  160.0
23  OP11    Marketing  Febrero  110.0
24  OP12           IT  Febrero  140.0
25  OP13       Ventas  Febrero  130.0
26  OP14  Proveedores  Febrero  150.0
27  OP15    Marketing  Febrero  100.0
28   OP1  Proveedores    Marzo  140.0
29   OP2       Ventas    Marzo    NaN
30   OP3       Ventas    Marzo   80.0
31   OP5           IT    Marzo  180.0
32   OP6    Marketing    Marzo  100.0
33   OP7       Ventas    Marzo  160.0
34   OP8  Proveedores    Marzo  110.0
35   OP9           IT    Marzo   80.0
36  OP10       Ventas    Marzo  180.0
37  OP11    Marketing    Marzo  130.0
38  OP12           IT    Marzo  150.0
39  OP13       Ventas    Marzo  150.0
40  OP14  Proveedores    Marzo  160.0
41  OP15    Marketing    Marzo  120.0
42   OP1  Proveedores    Abril  180.0
43   OP2       Ventas    Abril  100.0
44   OP3       Ventas    Abril   80.0
45   OP5           IT    Abril  180.0
46   OP6    Marketing    Abril    NaN
47   OP7       Ventas    Abril  160.0
48   OP8  Proveedores    Abril   80.0
49   OP9           IT    Abril   80.0
50  OP10       Ventas    Abril  180.0
51  OP11    Marketing    Abril  140.0
52  OP12           IT    Abril  150.0
53  OP13       Ventas    Abril  140.0
54  OP14  Proveedores    Abril  170.0
55  OP15    Marketing    Abril  130.0

In [ ]:
#6 Promedio de horas trabajadas por departamento
df['TotalHoras'] = df[['Enero', 'Febrero', 'Marzo', 'Abril']].sum(axis=1)
promedio_horas_por_departamento = df.groupby('Departamento')['TotalHoras'].mean()
print("Horas promedio trabajadas por departamento en los 4 meses")
print(promedio_horas_por_departamento, end='\n\n')
print("Horas promedio trabajadas por departamento en cada mes")
promedio_horas_por_departamento_mes = df.groupby('Departamento')[['Enero', 'Febrero', 'Marzo', 'Abril']].mean()
print(promedio_horas_por_departamento_mes)

Horas promedio trabajadas por departamento en los 4 meses
Departamento
IT             540.000000
Marketing      386.666667
Proveedores    560.000000
Ventas         518.000000
Name: TotalHoras, dtype: float64

Horas promedio trabajadas por departamento en cada mes
                   Enero  Febrero       Marzo       Abril
Departamento
IT            136.666667    130.0  136.666667  136.666667
Marketing     110.000000    105.0  116.666667  135.000000
Proveedores   150.000000    130.0  136.666667  143.333333
Ventas        136.000000    136.0  142.500000  132.000000

In [ ]:
#7 Total horas trabajadas por operario
print(df[['Id', 'TotalHoras']].sort_values(by='TotalHoras', ascending=False))

      Id  TotalHoras
3    OP5       710.0
8   OP10       700.0
0    OP1       660.0
12  OP14       650.0
5    OP7       640.0
10  OP12       590.0
11  OP13       560.0
9   OP11       500.0
13  OP15       460.0
6    OP8       370.0
1    OP2       360.0
2    OP3       330.0
7    OP9       320.0
4    OP6       200.0

In [ ]:
#8 Salarios ordenados de mayor a menor
tarifa_hora = 32
df['Salario'] = df['TotalHoras'] * tarifa_hora
print(df[['Id', 'TotalHoras', 'Salario']].sort_values(by='Salario', ascending=False))

      Id  TotalHoras  Salario
3    OP5       710.0  22720.0
8   OP10       700.0  22400.0
0    OP1       660.0  21120.0
12  OP14       650.0  20800.0
5    OP7       640.0  20480.0
10  OP12       590.0  18880.0
11  OP13       560.0  17920.0
9   OP11       500.0  16000.0
13  OP15       460.0  14720.0
6    OP8       370.0  11840.0
1    OP2       360.0  11520.0
2    OP3       330.0  10560.0
7    OP9       320.0  10240.0
4    OP6       200.0   6400.0

SOLID

S -> Responsabilidad unica -> Una clase deberia tener una y solo una razon para cambiar, esto indica que cada modulo o calse debe encargarse de cumplir una sola responsabilidad dentro del sistema.

O -> Abierto o cerrado -> Las entidades de software (clases, modulos, funciones, etc.) deben estar abiertas para su extension, pero cerradas para su modificacion", este implica que debemos poder extender el comportamiento de nuestras clases sin modificar su codigo fuente existente, por ejemplo, usando la herencia o la composicion.

L -> Sustitucion -> Los objetos de una superclase deben poder ser sustituidos por objetos de sus subclases sin romper la aplicacion, por ejemplo si B es una subclase de A, entonces debe ser posible usar objetos de tipo B en lugar de objetos de tipo A sin que el sistema falle o se comporte de forma inesperada

I -> Segregacion de la interfaz -> Los clientes no deberian estar forzados a depender de interfaces que no utilizan, es preferible tener multiples interfaces especificas para cada proporcito, que una interfaz "grande o saturada" que incluya metodos que algunas implementaciones nunca usaran.

D -> Inversion de dependencias -> Los modulos de alto nivel no deberian depender de modulos de bajo nivel, ambos deben depender de abstracciones, las abstracciones no deberian depender de detalles, sino que los detalles deben depender de las abstracciones

IMPORTANCIAS DE SOLID EN CIENCIA DE DATOS
Aunque los principios SOLID surgieron principalmente en el desarrollo de software orientado a objetos, tambien son aplicables al desarrollo de soluciones de ciencia de datos, especialmente cuando se crean pipelines de procesamiento, aplicaciones de machine learning en producciones o se desarrolla software que manipula grandes volumenes de datos
1. **Mantenibilidad** -> Al organizar las clases y responsabilidades de forma clara, es mas facil para el equipo modificar y extender las funcionalidades de la plataforma de datos.
2. **Escalabilidad** -> Aplicar SOLID fomenta la extensibilidad de componentes (por ejemplo, agregar un nuevo modelo de ML o una nueva capa de almacenamiento de datos sin romper la estructura existente).
3. **Testabilidad** -> Al seguir principicos como DIP "inversion", se facilita la creacion de pruebas unitarias y de integracion, sustituyendo dependencias por mocks o stubs.
4. **Reusabilidad** -> Al dividir las funcionalidades en "pequeñas piezas" con responsabilidades unicas y diseñar interfaces claras, se pueden reutilizar facilmente componenetes en distintos proyectos.

In [ ]:
from abc import ABC, abstractmethod

In [ ]:
#Definicion de interfaces concepto de inversion de dependencias

class IDataLoader(ABC):
    @abstractmethod
    def load_data(self) -> pd.DataFrame:
        pass

class IDataProcessor(ABC):
    @abstractmethod
    def process_data(self, df: pd.DataFrame) -> pd.DataFrame:
        pass

In [ ]:
#Implementacion de las interfaces

class CSVDataLoader(IDataLoader):
    def __init__(self, file_path: str):
        self.file_path = file_path

    def load_data(self) -> pd.DataFrame:
        return pd.read_csv(self.file_path, sep=';')

In [ ]:
#Clase limpiadora
class DataCleaner(IDataProcessor):
    def process_data(self, df: pd.DataFrame) -> pd.DataFrame:
        return df.dropna().drop_duplicates()

In [ ]:
#Clase agrupadora y contadora
class DataGrouper(IDataProcessor):
    def __init__(self, group_col: str):
        self.group_col = group_col

    def process_data(self, df: pd.DataFrame) -> pd.DataFrame:
        grouped_df = df.groupby(self.group_col).size().reset_index(name="Count")
        return grouped_df

In [ ]:
#Clase principalr
class DataPipeline:
    #Constructor
    def __init__(self, data_loader: IDataLoader, processors: list[IDataProcessor]):
        self.data_loader = data_loader
        self.processors = processors
    #Procedimientos
    def run_pipeline(self) -> pd.DataFrame:
        # Cargar datos usando la abstracción de IDataLoader
        df = self.data_loader.load_data()

        # Aplicar secuencialmente cada proceso de la lista
        for processor in self.processors:
            df = processor.process_data(df)

        # 3. Retornar el resultado final
        return df

In [ ]:
#Ejecucion
if __name__ == "__main__":
    # Carga
    csv_loader = CSVDataLoader('/content/drive/MyDrive/horas-trabajo.csv')

    # Clases "procesadoras"
    cleaner = DataCleaner()
    grouper = DataGrouper("Departamento")

    # Uso del pipeline
    pipeline = DataPipeline(
        data_loader=csv_loader,
        processors=[cleaner, grouper]
    )

    # Ejecucion
    result_df = pipeline.run_pipeline()
    print("Resultado final:")
    print(result_df)

Resultado final:
  Departamento  Count
0           IT      3
1    Marketing      2
2  Proveedores      3
3       Ventas      4